
[submodule "spring-boot-rest-crud-lab"]
	path = spring-boot-rest-crud-lab
	url = https://github.com/stdiodh/spring-boot-rest-crud-lab.git
	branch = implementation
[submodule "aandi-prerequisite-bootcamp"]
	path = aandi-prerequisite-bootcamp
	url = https://github.com/stdiodh/aandi-prerequisite-bootcamp.git
	branch = implementation
[submodule "spring-boot-db-access-lab"]
	path = spring-boot-db-access-lab
	url = https://github.com/stdiodh/spring-boot-db-access-lab.git
	branch = implementation
[submodule "spring-boot-redis-cache-lab"]
	path = spring-boot-redis-cache-lab
	url = https://github.com/stdiodh/spring-boot-redis-cache-lab.git
	branch = main
[submodule "spring-boot-realtime-communication-lab"]
	path = spring-boot-realtime-communication-lab
	url = https://github.com/stdiodh/spring-boot-realtime-communication-lab.git
	branch = main
[submodule "spring-boot-deployment-runtime-lab"]
	path = spring-boot-deployment-runtime-lab
	url = https://github.com/stdiodh/spring-boot-deployment-runtime-lab.git
	branch = main
[submodule "spring-boot-refactoring-foundation-lab"]
	path = spring-boot-refactoring-foundation-lab
	url = https://github.com/stdiodh/spring-boot-refactoring-foundation-lab.git
	branch = main
[submodule "spring-boot-event-driven-lab"]
	path = spring-boot-event-driven-lab
	url = https://github.com/stdiodh/spring-boot-event-driven-lab.git
	branch = main
